<div id="<%= dom_id expense_group %>">
  <p>
    <strong>Group:</strong>
    <%= expense_group.group_id %>
  </p>

  <p>
    <strong>Expense:</strong>
    <%= expense_group.expense_id %>
  </p>

</div>
