<h1>Editing expense group</h1>

<%= render "form", expense_group: @expense_group %>

<br>

<div>
  <%= link_to "Show this expense group", @expense_group %> |
  <%= link_to "Back to expense groups", expense_groups_path %>
</div>
