<p style="color: green"><%= notice %></p>

<h1>Expense groups</h1>

<div id="expense_groups">
  <% @expense_groups.each do |expense_group| %>
    <%= render expense_group %>
    <p>
      <%= link_to "Show this expense group", expense_group %>
    </p>
  <% end %>
</div>

<%= link_to "New expense group", new_expense_group_path %>
